.main {
  padding: 0 2%;
}

.container {
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actionContainer {
  display: flex;
  flex-direction: row;
}

.textInput {
  padding: 4%;
  border-radius: 3%;
  border: 1px solid gray;
  margin-right: 15px;
}

.addButton {
  border-radius: 7%;
  outline: none;
  border: 0.5px solid gray;
  padding: 0 10%;
  background-color: rgb(103, 160, 57);
}
